
/* THIS IS FOR THE FONT STYLING THE ENTIRE WEBSITE*/

@font-face {
    font-family: 'Tiny5';
    src:url('fonts/subset-Tiny5-Regular.woff2') format('woff2'),
        url('fonts/subset-Tiny5-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'pix Chicago';
    src:url('fonts/subset-pixChicago.woff2') format('woff2'),
        url('fonts/subset-pixChicago.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'Space Grotesk';
    src:url('fonts/subset-SpaceGrotesk-SemiBold.woff2') format('woff2'),
        url('fonts/subset-SpaceGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'Space Grotesk';
    src:url('fonts/subset-SpaceGrotesk-Regular.woff2') format('woff2'),
        url('fonts/subset-SpaceGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'Space Grotesk';
    src:url('fonts/subset-SpaceGrotesk-Medium.woff2') format('woff2'),
        url('fonts/subset-SpaceGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'Space Grotesk';
    src:url('fonts/subset-SpaceGrotesk-Light.woff2') format('woff2'),
        url('fonts/subset-SpaceGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'Space Grotesk';
    src:url('fonts/subset-SpaceGrotesk-Bold.woff2') format('woff2'),
        url('fonts/subset-SpaceGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: optional;
}


/* THIS IS FOR THE NAV BAR STYLING*/

*{
    margin: 0 px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    font-family: 'Tiny5', ui-sans-serif, system-ui, Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(98, 129, 232);
    padding: 0 10px;
}

nav ul {
    display: flex; 
    list-style: none;
}

nav li {
    margin-right: 20px;

}

nav a{
    display: block;
    color: rgb(238, 237, 243);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
  background-color: #0422b6;
}


.search-bar {
    padding: 10px 15px;
    border: 2px solid #aaa;
    font-family: monospace;
    width: 200px;
    max-width: 100%;
}

/* This is for making the navbar responsive*/

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: stretch;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0 0 10px 0;
    }

    .search-bar {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* THIS IS FOR HOMEPAGE STYLING*/

.titlecard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  flex-direction: column;
}

.title {
  font-size: clamp(3rem, 6vw, 4rem);
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
  font-family: 'pix Chicago', ui-sans-serif, system-ui, 'Segoe UI', sans-serif;
}

.subhead {
  font-size: clamp(2rem, 2.5vw, 2rem);
  margin-top: 20px;
  opacity: 0.8;
  max-width: 600px;
  text-decoration: none;
  color:rgb(103, 103, 103);
  font-family: 'pix Chicago', ui-sans-serif, system-ui, 'Segoe UI', sans-serif;
}


/* THIS IS FOR INPUT PAGE STYLING*/

/* This is for the styling of the header/title*/

.input-header {
    font-family: 'pix Chicago', ui-sans-serif, system-ui, 'Segoe UI', sans-serif;
    text-align: center;
    padding-top: 40px;
}

/* This is for the styling of the card previews*/

.input-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  padding: 40px;
}

.input-cards {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border: 4px solid black;
    min-height: 160px;
    background-color: rgba(191, 191, 191, 1);
    cursor: pointer;
} 

.input-card-image {
    width: 150px;
    display: block;
}

.input-card-content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Space Grotesk', ui-sans-serif, system-ui, 'Trebuchet MS', sans-serif;
}

.input-cards:hover {
  transform: translate(-4px, -4px);
}

/* This is for the styling of the card modals and opening of cards*/

.card-modal {
    background: rgba(0,0,0,0.6);
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    inset: 0;
    z-index: 1000;
}

.modal-content {
    background: #aaa;
    border: 4px solid black;
    padding: 40px;
    width: 70%;
    max-width: 100%;
    display: flex;
    gap: 30px;
    position: relative;
    font-family: 'Space Grotesk', ui-sans-serif, system-ui, 'Trebuchet MS', sans-serif;
}

.modal-image {
    width: 250px;
    height: auto;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

/* THIS IS FOR OUTPUT PAGE STYLING*/

/* This is for the styling of the header/title*/

.output-header {
    font-family: 'pix Chicago', ui-sans-serif, system-ui, 'Segoe UI', sans-serif;
    text-align: center;
    padding-top: 40px;
}

/* This is for the styling of the card previews*/

.output-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  padding: 40px;
}

.output-cards {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 4px solid black;
    min-height: 160px;
    background-color: rgba(191, 191, 191, 1);
    cursor: pointer;
} 

.output-card-image {
    width: 85%;
    margin-top: auto;
    display: block;
    align-self: center;
}

.output-card-content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Space Grotesk', ui-sans-serif, system-ui, 'Trebuchet MS', sans-serif;
    align-items: center;
}

.output-cards:hover {
  transform: translate(-4px, -4px);
}

/* This is for the styling of the card modals and opening of cards*/

.output-page .card-modal {
    background: rgba(0,0,0,0.6);
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    inset: 0;
    z-index: 1000;
}

.output-page .modal-content {
    background: #aaa;
    border: 4px solid black;
    padding: 40px;
    width: 50%;
    max-width: 100%;
    display: flex;
    gap: 30px;
    position: relative;
    flex-direction: column;
    font-family: 'Space Grotesk', ui-sans-serif, system-ui, 'Trebuchet MS', sans-serif;
}

.output-page .modal-video {
    width: 80%;
    max-width: 600px;
    margin-top: auto;
    align-self: center;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

/* THIS IS FOR HISTORY/POPULARITY PAGE STYLING*/

/* This is for the styling of the header/title*/

.history-header {
    font-family: 'pix Chicago', ui-sans-serif, system-ui, 'Segoe UI', sans-serif;
    text-align: left;
    padding-top: 10%;
    padding-left: 17%;
}

.popular-header {
    font-family: 'pix Chicago', ui-sans-serif, system-ui, 'Segoe UI', sans-serif;
    text-align: right;
    padding-top: 5%;
    padding-right: 20%;
}

/* This is for the styling of the body type*/

.history-body {
    font-family: 'Space Grotesk', ui-sans-serif, system-ui, 'Trebuchet MS', sans-serif;
    text-align: justify;
    padding-top: 2%;
    padding-right: 65%;
    padding-left: 10%;
}

.popular-body {
    font-family: 'Space Grotesk', ui-sans-serif, system-ui, 'Trebuchet MS', sans-serif;
    text-align: justify;
    padding-top: 2%;
    padding-left: 47%;
    padding-right: 15%;
    padding-bottom: 10%;

}

/* This is for making the header and body type responsive*/

@media (max-width: 600px) {
    .history-header {
        flex-direction: center;
        align-items: stretch;
    }

    .popular-header {
        flex-direction: center;
        align-items: stretch;
    }

    .history-body {
        flex-direction: center;
        align-items: center;
    }

    .popular-body {
        flex-direction: center;
        align-items: center;
    }

}